#container {
    text-align: center;
    background-image: url('/assets/img_Andorran_Restaurant.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    padding: 50px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;

    color: white;
}

#container ion-button {
    margin-top: 20px;
    width: 200px;
    margin-inline: 50%;
    transform: translateX(-50%);
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;

    margin: 0;
}