#container {
    text-align: center;
    background-image: url('/assets/img_Andorran_Restaurant.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
}

#container strong {
    font-size: 20px;
    line-height: 26px;

    color: white;
}

#container ion-button {
    margin-top: 20px;
    width: 200px;
    margin-inline: 50%;
    transform: translateX(-50%);
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;

    margin: 0;
}

#restaurantMenu {}

// animation
.animate {
    font-size: 50px;
    margin: 100px 0 0;
    text-align: center;
}

.animate span {
    display: inline-block;
}

.restaurantName span {
    color: #ffffff;
    opacity: 0;
    transform: translate(200px, -100px) scale(2);
    animation: ballDrop .5s forwards;
}

@keyframes ballDrop {
    60% {
        transform: translate(0, 20px) rotate(-180deg) scale(.5);
    }

    100% {
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}